.ribbon {
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
  width: 109%;
  position: relative;
  background: $brand-secondary;
  color: $white;
  text-align: center;
  padding: 0.5em 2em; /* Adjust to suit */
  margin: 0 auto 1em -1em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1em solid $brand-tertiary;
  z-index: -1;
}
.ribbon:before {
  left: -1em;
  border-right-width: 1em;
  border-left-color: transparent;
}
.ribbon:after {
  right: -1em;
  border-left-width: 1em;
  border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: $brand-secondary transparent transparent transparent;
  bottom: -1em;
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}



@include media-breakpoint-down(sm) {
  .ribbon{
    width: 100%;
    position: relative;
    background: $brand-secondary;
    color: $white;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin: 0;
    padding: 0.5em;

    &:after, &:before, .ribbon-content:after, .ribbon-content:before{
      display: none;
    }
  }
}
