.banner{
  position: relative;
  .nav-primary{
    align-items: stretch;
    ul{
      height: 100%;
      li {
        min-width: 150px;
        text-align: center;
        background-size: 100%;
        cursor: pointer;
        display: inline-block;
        position: relative;
        z-index: 100;
        @extend .transition;

        &:before{
          background: $gradient-1; /* fallback for old browsers */
          background-image: linear-gradient(to left, $gradient-1 , $gradient-2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          content: '';
          display: block;
          height: calc(100% - 5px);
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          width: 100%;
          z-index: -100;
          transition: opacity 0.45s;
        }

        &:last-child{
          &:before{
            border-top-right-radius: 5px;
          }
        }

        &:hover {
          &:before {
            opacity: 1;
          }
        }

        a{
          font-weight: 600;
          height: 100%;
          @extend .py-3;
          @extend .delta;

          &:hover{
            color: $white;
          }
        }
      }
    }
  }
}

.banner::after{
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  height: 5px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  content: " ";
}
.banner .nav li {
  @extend .nav-item;
}
.banner .nav a {
  @extend .nav-link;
}

.brand{
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: $brand-primary; /* fallback for old browsers */
  background-image: -webkit-linear-gradient(to left, $gradient-1 , $gradient-2); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to left, $gradient-1 , $gradient-2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}