.home{
  article{
    border-top: 1px dashed $brand-primary;
    a{
      color: $brand-gray;
    }
    header, i{
      color: $brand-primary;
    }
    @extend .hover-gray;
  }
}

.single article{
  header, i, h2, h3{
    color: $brand-primary;
  }
}