.widget-img{
  text-align: center;
}

.widget_categories ul{
  list-style-type: none;
}
.widget_nav_menu{
  position: absolute;
  top: -45px;
  left: 0;
  width: 100%;

  ul{
    list-style-type: none;
    background-color: $brand-primary;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    @extend .beta;
    @extend .nav;

    li{
      @extend .nav-item;
      @extend .mx-2;

      a{
      color: $white;
      }
    }

    &:after{
      @include rainbow (bottom);
    }
  }
}