// Colors
$brand-primary:         #401C7C;
$brand-primary-bg:      #401c7c;
$brand-secondary:       #801889;
$brand-tertiary:        #261A93;
$brand-gray:            #4d4d4d;

//$brand-gray:            #808080;
//$brand-gray:            #737373;
//$brand-gray:            #8c8c8c;
//$brand-gray:            #404040;
//$brand-gray:            #666666;
$fa-font-path:          '~font-awesome/fonts';
$spacer:                3rem;
