// Colors
$brand-primary:         #401C7C;
$brand-primary-bg:      #401c7c;
$brand-secondary:       #290042;
$brand-tertiary:        #1a0228;
$brand-gray:            #4d4d4d;
$brand-gray-2:          #666666;
$brand-gray-3:          #EEEEEE;

$gradient-1:            #89fffd;
$gradient-2:            #ef32d9;

$fa-font-path:          '~font-awesome/fonts';
$spacer:                3rem;

$fancy-font:            'Pacifico', cursive;
$base-font:             'Raleway', sans-serif;